<template name="landing">
  <div class="inner cover">
    <br>
    <br>
    <br>
    <h1 class="total-lifted">{{totalWeightMoved}}kg</h1>
    <p class="lead">deadlifted so far</p>
    <hr>
    <h1 class="cover-heading">The Pinnacle Million.</h1>
    <p class="lead">Pinnacle Performance have launched an initiative that has created a small team of male and female Pinnacle athletes (coaches, members and ext) who will attempt to Deadlift 1,000,000kg in 24 hours on the 19th March 2016, all in aid of the Pinnacle Foundation.</p>
    <p class="lead">
      <a href="http://pinnacleperformance.hk/the-pinnacle-million/" class="btn btn-lg btn-default">Learn more</a>
    </p>
  </div>
</template>