<template name="exercise">
  <div class="inner cover">
    <h1 class="total-lifted">{{totalWeightMoved}} kg</h1>
    <p class="lead">deadlifted so far</p>
    <hr>
    <p class="lead">
      <button id="50-kilos" class="btn btn-lg btn-default increment-weight">Add 50kg set</button>
      <button id="75-kilos" class="btn btn-lg btn-default increment-weight">Add 75kg set</button>
      <button id="100-kilos" class="btn btn-lg btn-default increment-weight">Add 100kg set</button>
    </p>
  </div>
</template>