<template name="exercise">
  <div class="inner cover">
<!--     <div class="row">
      <div class="col-md-3">
        <button class="btn btn-large 50-kilos">Add 50 kilos</button>
        <button class="btn btn-large 75-kilos">Add 75 kilos</button>
        <button class="btn btn-large 100-kilos">Add 100 kilos</button>
      </div>
    </div> -->
    <h1 class="cover-heading">{{totalWeightMoved}} kg</h1>
    <p class="lead">lifted so far</p>
    <hr>
    <p class="lead">
      <button id="50-kilos" class="btn btn-lg btn-default increment-weight">Add 50kg set</button>
      <button id="75-kilos" class="btn btn-lg btn-default increment-weight">Add 75kg set</button>
      <button id="100-kilos" class="btn btn-lg btn-default increment-weight">Add 100kg set</button>
    </p>
  </div>
</template>